# From SQL to Pandas Challenges 5

In [1]:
# import libraries
import pandas as pd

# load data
# This code is made to load our data stored on Google Drive
def gd_path(file_id):
    """Generate a shareable link from Google Drive file id."""
    return f"https://drive.google.com/uc?export=download&id={file_id}"

# Google Drive file ids
files_id = {
    "titleauthor": "1F1JOiYXStWacOBca6coNVfyVtoST7ZgD",
    "titles": "1PLdn50N9GRa53ZbuVWo0l47F_IXdvlEm",
    "stores": "1f-GCgip7O93CpbAkYvOsc21eKnSOSHsQ", 
    "sales": "1fzFc9rwYmVIPaGOFmhLVxCi3kg19vNU2", 
    "roysched": "1zPRZPoFPEMKyrNR5VSENeYFHGCBZmxbs", 
    "publishers": "1s9E8_AVOziTrowb3wyh2jg3PV763VOyq",
    "pub_info": "1OEgogcGKy--EpuVj0kqq7lyBZNGW6YSv", 
    "jobs": "1V1Za8hUdXD-vJOyRdX4aQV5wanIff2eM", 
    "employee": "1h9mUjsVqpP74b1w0x7KOw37n_n9Ulkt5", 
    "discounts": "111dvSxMcCsTgOuV1wDSKFJxO1Xcxd9VS", 
    "authors": "1fEF89Nhe61EebAljKlwFwfEuokK0o6aJ"
}

# Read data from Google Drive
authors = pd.read_csv(gd_path(files_id["authors"]), sep=";")
titles = pd.read_csv(gd_path(files_id["titles"]), sep=";")
stores = pd.read_csv(gd_path(files_id["stores"]), sep=";")
employee = pd.read_csv(gd_path(files_id["employee"]), sep=";")

## 1. Select all books from the table `titles` that contain the word "cooking" in their title

In [2]:
# Ana

titles.loc[titles['title'].str.contains(pat = 'cooking', case = False), ['title']]

                                                title
1   Cooking with Computers: Surreptitious Balance ...
6                  The Psychology of Computer Cooking
15  Onions, Leeks, and Garlic: Cooking Secrets of ...

### Hint:

In SQL the syntax is:

```sql
SELECT title
FROM titles
WHERE title LIKE '%cooking%';
```

## 2. Select all titles that start with the word "The"

In [3]:
titles.loc[titles["title"].str.contains("^The", regex = True)][["title"]]

                                 title
0  The Busy Executive's Database Guide
5                The Gourmet Microwave
6   The Psychology of Computer Cooking

In [5]:
titles.loc[titles["title"].str.startswith("The")][["title"]]

                                 title
0  The Busy Executive's Database Guide
5                The Gourmet Microwave
6   The Psychology of Computer Cooking

### Hint:

In SQL the syntax is:

```sql
SELECT title
FROM titles
WHERE title LIKE 'The%';
```

## 3. Select the full names (first and last name) of authors whose last name starts with "S"

In [6]:
authors[authors["au_lname"].str.contains("^S", case=False)][["au_fname","au_lname"]]

   au_fname  au_lname
4      Dean  Straight
5   Meander     Smith
15     Dirk  Stringer

### Hint:

In SQL the syntax is:

```sql
SELECT au_fname, au_lname 
FROM authors
WHERE au_lname LIKE('S%');
```

## 4. Select the name and address of all stores located in an Avenue (its address ends with "Ave.")

In [7]:
stores[stores.stor_address.str.endswith('Ave.')][['stor_name','stor_address']]

             stor_name         stor_address
0  Eric the Read Books  788 Catamaugus Ave.
1             Barnum's    567 Pasadena Ave.

In [8]:
stores.loc[stores["stor_address"].str.contains("Ave.$", regex = True), ["stor_name","stor_address"]]

             stor_name         stor_address
0  Eric the Read Books  788 Catamaugus Ave.
1             Barnum's    567 Pasadena Ave.

### Hint:

In SQL the syntax is:

```sql
SELECT stor_name, stor_address
FROM stores
WHERE stor_address LIKE ("%Ave.");
```

## 5. Select the name and address of all stores located in an Avenue or in a Street (address ended in "St.")

In [9]:
stores[(stores.stor_address.str.contains('(?i)ave.$'))|(stores.stor_address.str.contains('(?i)st.$'))][['stor_name','stor_address']]

             stor_name         stor_address
0  Eric the Read Books  788 Catamaugus Ave.
1             Barnum's    567 Pasadena Ave.
2         News & Brews        577 First St.
4   Fricative Bookshop       89 Madison St.
5             Bookbeat       679 Carson St.

### Hint:

In SQL the syntax is:

```sql
SELECT
	stor_name,
	stor_address
FROM
	stores
WHERE 
	stor_address LIKE '%St.' 
    OR stor_address LIKE '%Ave.';
```

## 6. Look at the "employee" table (select all columns to explore the raw data):
   Find a pattern that reveals whether an employee is Female or Male.
   Select all female employees.

In [10]:
employee.loc[employee['emp_id'].str.endswith('F'), ['emp_id','fname','lname']]

       emp_id      fname      lname
0   A-C71970F       Aria       Cruz
1   A-R89858F    Annette     Roulet
2   AMD15433F        Ann      Devon
3   ARD36773F    Anabela  Domingues
5   CGS88322F     Carine    Schmitt
8   ENL44273F  Elizabeth    Lincoln
11  H-B39728F      Helen    Bennett
14  JYL26161F     Janine    Labrune
15  KFJ64308F      Karin    Josephs
16  KJJ92907F      Karla  Jablonski
17  L-B31947F     Lesley      Brown
19  M-L67958F      Maria    Larsson
21  M-R38834F    Martine      Rance
23  MAS70474F   Margaret      Smith
27  MMS49649F       Mary    Saveley
28  PCM98509F   Patricia    McKenna
34  PSP68661F      Paula    Parente
38  RBM23061F       Rita     Muller
41  VPA30890F   Victoria   Ashworth

### Hint:

In SQL the syntax is:

```sql
SELECT emp_id, fname,lname 
FROM employee 
WHERE emp_id LIKE ('%F');
```

## 7. Select the first and last names of all male employees whose name starts with "P".

In [11]:
(
employee.loc[employee["emp_id"].str.contains("M$", regex = True) 
            & employee["fname"].str.contains("^P", regex = True),["fname","lname"]]
)

     fname      lname
29   Palle      Ibsen
30   Peter    Franken
31   Paolo    Accorti
32  Pirkko  Koskitalo
33   Pedro     Afonso
35  Philip     Cramer
36    Paul    Henriot

### Hint:

In SQL the syntax is:

```sql
SELECT
    emp_id,
    fname,
    lname
FROM
    employee
WHERE
    (fname LIKE 'P%' 
    OR lname LIKE 'P%') 
    AND emp_id LIKE '%M';
```

## 8. Select all books that have an "ing" in the title, with at least 4 other characters preceding it. 
For example, 'cooking' has 4 characters before the
   'ing', so this should be included; 'sewing' has only 3 characters before the
   'ing', so this shouldn't be included.

In [12]:
titles[titles["title"].str.contains("....ing$", case=False)][['title']]

                                title
6  The Psychology of Computer Cooking

### Hint:

In SQL the syntax is:

```sql
SELECT title
FROM titles
WHERE title LIKE "%____ing%";
```